<h1 class="text-center my-4">My Movie Lists</h1>

<div class="container">
  <div class="row mb-4">
    <div class="col">
      <h2>Create a New List</h2>
      <%= form_with(model: @list, local: true, class: "form-inline") do |form| %>
        <div class="form-group mb-2">
          <%= form.label :name, class: "sr-only" %>
          <%= form.text_field :name, class: "form-control", placeholder: "List Name" %>
        </div>
        <div class="form-group mb-2 mx-sm-3">
          <%= form.submit "Create List", class: "btn btn-primary" %>
        </div>
      <% end %>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <h2>All Lists</h2>
      <ul class="list-group">
        <% @lists.each do |list| %>
          <li class="list-group-item d-flex justify-content-between align-items-center">
            <%= link_to list.name, list_path(list) %>
            <%= link_to 'Delete', list_path(list), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
