<h1 class="text-center my-4"><%= @list.name %></h1>

<div class="container">
  <div class="mb-4">
    <h2>Bookmarks</h2>
    <ul class="list-group">
      <% @list.bookmarks.each do |bookmark| %>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          <%= link_to bookmark.movie.title, movie_path(bookmark.movie) %> <!-- Utilisation de movie_path -->
          <span><%= bookmark.comment %></span>
          <%= link_to 'Delete', list_bookmark_path(bookmark.list, bookmark), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-sm" %>
        </li>
      <% end %>
    </ul>
  </div>

  <div class="mb-4">
    <h2>Add a Bookmark</h2>
    <%= simple_form_for [@list, @bookmark] do |f| %>
      <%= f.association :movie, collection: @movies, label_method: :title, value_method: :id, prompt: "Select Movie", input_html: { class: "form-control" } %>
      <%= f.input :comment, placeholder: "Add a comment", input_html: { class: "form-control" } %>
      <%= f.button :submit, "Add Bookmark", class: "btn btn-primary mt-2" %>
    <% end %>
    <% if @bookmark.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@bookmark.errors.count, "error") %> prohibited this bookmark from being saved:</h2>
        <ul>
          <% @bookmark.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
  </div>

  <%= link_to 'Back to all lists', lists_path, class: "btn btn-secondary" %>
</div>
